

body{
    padding-top: 70px;
    height: 4000px;
}
/*style of the change colore */
.option-box{
    position: fixed;
    top: 100px;
    left:0px;
    
}
.option-box .selectColor{
float: left;
background: rgb(41, 39, 39);
color: white;
padding-top: 2px;
text-indent: 10px;
width: 100px;
border: 2px solid red;
}
.option-box .selectColor ul li{
    width: 10px;
    height: 10px;
    background: red;
    display: inline-block;

}


/* end style of the change colore */
/*slide show stily*/
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    width: 1300px;
    max-width: 1500px;
    height: 400px;
   
}
.carousel-caption {
    background-color: rgba(116, 112, 112, 0.5);
    margin-bottom: 20px;
}
/*class of the Indicator */
.carousel-indicators{
    bottom: 0;  
}
/*indicator active*/
.carousel-indicators .active {
    width: 17px;
    height: 17px;
    background-color: red;
   
}
/*indicator  non active*/
.carousel-indicators li{
    width: 15px;
    height: 15px;
}

/*main navbar*/
.navbar {
    
    min-height: 70px;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus {
    color: red;
    background-color: rgb(248, 244, 244);
    /*margin-left: 80px;*/
}
/*color of the navbar and brand*/
.navbar-inverse .navbar-nav > li > a  {
    color: #85818d;
    font-size: 16px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.navbar-inverse .navbar-brand{
    color: #85818d;
    font-size: 25px;
    line-height: 40px;
}


/* background-color of the dropdown-menu*/ 
.dropdown-menu {
    background-color:black ;
}
.navbar-right .dropdown-menu {
    right: auto;
    left: 0;
}
/*color oof the titile in  dropdown*/
.dropdown-menu > li > a {
    color: #85818d;
    padding:10px 15px;
    -webkit-transition: padding 0.5s ease;
    -moz-transition: padding 0.5s ease;
    -o-transition: padding 0.5s ease;
    transition: padding 1s ease;

}
/*the colore of the titile if i hover on*/
.dropdown-menu > li > a:hover,
 .dropdown-menu > li > a:focus {
     color: red;
     background-color: darkgoldenrod;
     padding-left: 25px;
 }
 /*divider colore*/
 .dropdown-menu .divider {
     background-color: deeppink;
 }
 /* three line in thw nav bar*/
 .navbar-toggle {
     padding-top: 20px;
 }

 /* section style*/
 .about{
     padding-top: 20px;

 }
 .about .lead{
     color: rgba(10, 10, 10, 0.849);
     margin-top: 20px;
     font-size: 20px;
 }
 .featurs{
     background: #EEE;
     padding-top: 20px;
     padding-bottom: 20px;
     margin-top: 30px;
 }
 .featurs .feat p{
     line-height: 2em;
 }
 .featurs .feat span.glyphicon{
     font-size: 20px;
 }
 .featurs h1{
margin-bottom:50px;
 }

 /* .Testmonials style*/
 .Testmonials{
     margin-top: 50px;
     margin-bottom: 50px;
 }
 .Testmonials .lead{
     line-height: 2em;
     margin-bottom: 10px;
 }
 .Testmonials span{
     color: red;
     font-weight: 100px;
 }
 /* To but the Style of the Indicators */
 .Testmonials .carousel-inner{
     min-width: height 160px; ;
 }
 .Testmonials .carousel-indicators {
    position: static;
    margin-left: auto;
    width: 100%;
    padding-top: 20px;
}
.Testmonials .carousel-indicators li{
    width: 80px;
    height: 80px;
    text-indent: 0px;
    border: 3px solid white;
    border-radius: 50px;
    overflow: hidden;
    margin: 3px;
    -webkit-transition: all  1s ease;
    -moz-transition: all  1s ease;
    -o-transition: all  1s ease;
    transition: all 1s ease;
}
.Testmonials .carousel-indicators li.active{
    opacity:1;
    border: 3px solid red;
    
}
.Testmonials .carousel-indicators li img{
    max-width: 100%;
    min-height: 100%;
    opacity: 0.6;
}
/* start price table */
.price-table{
    background-color: #EEEE;
    padding-top: 40px;
    padding-bottom: 40px;
    
}
.price-table h1{
    margin-bottom: 20px;
    
}
.price-table .price-box{
    padding: 10px;
    margin-top: 20px;
    background: white;
    border: 1px solid red;
    margin: 15px;
}
.price-table .price-box h3{
    margin: 5px 0 15px;

}
.price-table .price-box:hover p{
    border: 2px solid red;

    -webkit-transform: scale(1.1,1.1)rotate(340deg);
    -moz-transform: scale(1.1,1.1)rotate(340deg);
    -o-transform: scale(1.1,1.1)rotate(340deg);
    transform: scale(1.1,1.1)rotate(340deg);
}
.price-table .price-box p{
    font-weight: bold;
    font-size: 20px;
    background: #e5e2eb;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50px;
    border: 2px solid #e5e2eb;
    -webkit-transtion-duration:0.8s;
    -moz-transtion-duration:0.8s;
    -o-transtion-duration:0.8s;
   transtion-duration:0.8s;
}

.price-table .price-box ul{
    line-height:250% ;
}
.price-table .price-box a{
    margin-bottom: 10px;
}
/* end price table */
/* start our team */
.our_team{
background: url("../1.jpg")no-repeat center center fixed;
/*Beacuse if i do zoome (-)the image dont hidden*/
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;

}
.our_team .team{
    background: rgba(165, 159, 159,0.7);
    min-height: 400px;
    padding-top: 30px;
   
}
 .raw{
    padding-top: 30px;
    
}
.person{
    margin-bottom: 30px;
}
.person img{
    width: 100px;
height: 100px;
}
/* end our team */
/* start subscrib style */
.subscrib{
    background-color: rgb(238, 236, 236);
    padding-bottom: 60px;
}
.subscrib h1{
letter-spacing: 2px;
}
.subscrib .lead{
    margin-bottom: 40px;
}
.subscrib .form-control{
    border-radius: 0px;
    margin-right: -5px;
    width:300px ;
}
.subscrib .btn{
    border-radius: 0px;
}
.subscrib .form-inline{
    border-radius: 0px;
}
/* end subscrib style */
/* start statistic style */
.statistic{
    background : url("../img3.jpg" ) no-repeat center center fixed; 
    /*Beacuse if i do zoome (-)the image dont hidden*/
    -webkit-background-size:cover ;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;

}
.statistic h1{
   margin-top: 40px;
}
.statistic .data{
    -webkit-transition: all 0.9s ease-in-out;
    -moz-transition: all 0.9s ease-in-out;
    -o-transition: all 0.9s ease-in-out;
   transition: all 0.9s ease-in-out;
   margin-bottom: 30px;
}
.statistic .data:hover{
color: rgb(231, 219, 219);
}
.statistic p{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0px;
}
.statistic span{
    font-size: 18px;
    font-weight: bold;
}
.statistic .stat{
    background: rgba(78, 63, 63, 0.7);
    min-height: 400px;
}
 /* end statistic style*/
/*start contact us style*/

 .ourskills{
     padding-top: 40px;
     padding-bottom: 70px;
 }
 .ourskills h1{
     margin-bottom: 30px;
 }
 .ourskills h3{
    margin-top: 0px;
    font-weight: bold;
}
.ourskills .progress{
    height: 36px;
}
.ourskills .progress .progress-bar{
    line-height: 36px;
    font-size:15px ;
    font-weight:bold ;
    text-align: left;
    text-indent: 10px;
}
/*end contact us style*/
.contact-us{
    background : url("../img4.jpg" ) no-repeat center center fixed; 
    /*Beacuse if i do zoome (-)the image dont hidden*/
    -webkit-background-size:cover ;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    min-height: 300px;
    margin-top: 30px;
    color: white;
}
.contact-us .fields{
    background: rgba(78, 63, 63, 0.6);
    min-height: 300px;
    padding-bottom: 30px;
    padding-top: 30px;
}
.contact-us p{
    margin-bottom: 40px;
}
.contact-us textarea{
    height: 108px;
}
.contact-us input[type="text"],
.contact-us textarea{
    background: rgba(78, 63, 63, 0.6);
    color: white;
    border: none;
}
.contact-us .form-group :hover{
color: rgb(37, 122, 233)
}
/* start client stle*/
.clint{
    margin-bottom:  40px;
}
.clint h1{margin-top: 40px; }
.clint .img img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
  
}
.clint-color{
    background: rgba(173, 169, 169, 0.6);
}
.clint .img{
-webkit-transition: all 0.9s ease-in-out;
-moz-transition: all 0.9s ease-in-out;
-o-transition: all 0.9s ease-in-out;
transition: all 0.9s ease-in-out;


}
.clint .img:hover {
color:rgb(180, 40, 40);
opacity: 0.7;
}
.clint .img img:hover {
    border: 3px solid red;
    
}
.clint .img p{
    font-weight: bold;
    font-size: 20px;
}
/* end client stle*/
.fotter h3{
margin-bottom: 20px;
letter-spacing: 1px;
color: red;
}
.fotter .three-colum{
    overflow: hidden;
}
.fotter .three-colum li{
   color: white;
    width: 33.3333%;
    float: left;
    padding: 5px;
}
.fotter{
    background: rgb(39, 37, 37);
}
.fotter .social-list{
    overflow: hidden;
}
.fotter .social-list li{
    margin-top: 10px;
    opacity: 0.7;
    float: left;
    margin-right: 7px;
}
.fotter .social-list li:hover{
    opacity: 1;
}
.media img{
    width: 50px;
    height: 68px;
}
 .Arti {
     color: white;
     margin: 20px;
 }
 .Arti h5{
     color: red;
 }
 .fotter .img-thumbnall {
    max-width: 100px;
     max-height: 100px;
     border: 1px solid red;
     background: rgba(116, 112, 112, 0.5);

 }
 .imagescallary h4{
     color: red;

 }
.copywrite{
    color: white;
    background: rgba(14, 13, 13, 0.849);
    height: 30px;

}
.copywrite h5{
    padding-top: 10px;
}




